/* 重置样式CSS */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 默认样式 */

body {
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
	font-size:16px;
	background-color: #f5f7fa;
}
/* 统一清除浮动 */
.g-bd:after{
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
/* 页面布局css 
*/
/* 网页头部固定在视口顶部 */
.g-hd{
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height: 50px;
	background-color: #333;
	z-index: 9999;
}
/* 网页导航初始隐藏在左边 */
.g-sd{
	position:fixed;
	top:50px;
	left:-150px;
	width:150px;
	height:100%;
	background-color: #00b4a0;
	transition: all 600ms ease-in-out;
}
/* 网页导航激活后滑出样式 */
.g-sd.z-show{
	left:0px;
	transition: all 600ms ease-in-out;
}
/* 主内容区 */
.g-bd{
	margin-top: 50px;
	width:100%;
	height:100%;
}
.g-bd.z-zoom{
	margin:0 0 0 150px;
}
/***************************************************************************/
/* title模块CSS
*/
/* 网页头部子内容浮动 */
.m-tt .f-fl{
	height:50px;
	float:left;
	margin:0px 10px;
}
/* 网页头部标题样式 */
.m-tt .m-tt{
	color:#00b4a0;
	font-size:20px;
	margin-top:14px;
}
/* 网页头部目录按钮 */
.m-tt .btn{
	width:50px;
	height:50px;
	background:none;
	border:none;
}
/* 网页头部目录按钮hover样式 */
.m-tt .btn.btn-hover{
	background:#00b4a0;
}

/* 导航列表样式 */
.m-nav{
	margin-top:20px;
}

.m-nav li{
	display:block;
	height:46px;
}
.m-nav >li.z-sel{
	background-color: #333;
}

.m-nav > li > a {
	text-decoration: none;
	color:#333;
    position: relative;
    display: block;
    padding: 15px 20px;
}
.m-nav >li >a.z-sel{
	color:#00b4a0;
}
/*内容区*/
.m-bd .content{
	margin:20px 2%;
	width:46%;
	height:700px;
	float:left;
	border:1px solid #c7c7c7;
}
.m-bd h1{
	margin: 0px 2% 20px 2%;
	padding-top: 50px;
	padding-bottom: 9px;
	border-bottom: 1px solid #d2d0d0;
	font-size: 2rem;
}
.m-bd .content h2{
	text-align: center;
	padding:5px 0;
	font-size: 1.5rem;
}


/*悬浮提示框*/
/*
.btn-tooltip{
	display: none;
	position:absolute;
	top:65px;
	left:-4px;
	width:60px;
	height:40px;
	border:1px solid #dfe3e6;
	border-top:none;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.1);
	line-height:40px;
	text-align: center;
	font-family:"Futura";
	font-size:16px;
	background-color:white;
}
.btn-tooltip-tri{ 	
	display: none;
    position: absolute;  
    top: 55px;  
    left: 16px;  
    content: '';  
    border-left: 10px solid transparent;  
    border-right: 10px solid transparent;  
    border-bottom: 10px solid white;  

}*/
